<!-- navbar -->
<div class="position-fixed w-100">
  <div class="navbar-border position-absolute bg-white start-0 end-0 bottom-0"></div>
  <nav class="navbar navbar-expand-lg  py-3 bg-parimary">
    <div class="container">
      <a href="index.html" class="navbar-brand font-shrikhand text-white font-italic p-0">ALPHABOX+</a>
      <button class="navbar-toggler border-0 d-flex d-lg-none p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-symbols-outlined border-0 text-white">menu</span>
      </button>

      <div class="navbar-dropdown position-lg-static position-absolute start-0 end-0 flex-lg-grow-1">
        <div class="collapse navbar-collapse navbar-bg" id="navbarSupportedContent">
          <ul class="navbar-nav mx-lg-auto me-auto mb-2 mb-lg-0 gap-2 pt-4 pt-lg-0 gap-lg-4">
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="product-diane">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="aboutUs.html">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="firstHand.html">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="contact.html">聯絡我們</a>
            </li>
          </ul>
          <ul class="navbar-nav gap-2 pb-4 pb-lg-0 gap-lg-2">
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="signin.html">註冊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center" href="login.html">登入</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a href="#" class="nav-link btn rounded-1 text-black text-center bg-white py-2 px-4">
                <i class="material-symbols-outlined align-bottom me-1">point_scan</i>訂閱
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>