


.position-lg-static {
  @include pad {
    position: static !important;
  }
}

.navbar-bg {
  @include gradient-y($primary, $primary-dark);
  @include pad {
    background-image: none;
  }
}
.navbar-brand {
  font-size: 24px;
  @include pad {
    font-size: 32px;
  }
}

.navbar-border {
  z-index: 5;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0256);
  height: 1px;
  top: 76px;
  @include pad {
    top: 80px;
  }
}

.navbar {
  background:linear-gradient(to bottom, $start-color, $end-color);
  &-dropdown {
    top: 76px;
  }
  .navbar-toggler {
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    &:focus {
      box-shadow: none;
    }
  }
}

@include iphone{
  .navbar{
    padding:0 12px;
    background:gradient-y(#7000FF, #11002D);
  }
  .nav-item{
    justify-content: center;
    display: flex;
  }
}